.dormBtnWrk {
  padding-top: 16px;
  width: 74px;
  height: 74px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  display: block;
  outline: 2px solid #E86D3B;
  background-color: #EDE0CB;
  color: #E86D3B;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dormBtnWrk:focus {
  color: #fff;
  background: #E86F3C;
}

.dormBtnWrk:hover {
  background: #FAC1A9;
}